{
    "tabWidth": 2,
    "printWidth": 80,
    "singleQuote": true,
    "jsxBracketSameLine": false,
    "semi": false,
    "trailingComma": "none",
    "overrides": [
      {
        "files": "*.ts",
        "options": {
          "trailingComma": "none"
        }
      },
      {
        "files": "*.sol",
        "options": {
          "printWidth": 80,
          "tabWidth": 4,
          "useTabs": false,
          "singleQuote": false,
          "bracketSpacing": false,
        }
      }
    ]
  }
  